<div *ngIf="hero" class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h2>
        {{ hero.name | uppercase }} Details
      </h2>
    </div>
    <div class="col-12">
      <span>
        id:
      </span>
      {{hero.id}}
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <div class="form-group">
        <label>Name: </label>
        <input [(ngModel)]="hero.name" placeholder="name" class="form-control">
      </div>
      <button class="btn btn-info" (click)="goBack()">go back</button>
      <button class="btn btn-info" (click)="save()">save</button>
    </div>
  </div>
</div>
